<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Water level meter dashboard">
    <meta name="author" content="Ryan Lee">

    <meta property="og:title" content="Water level meter dashboard">
    <meta property="og:description" content="A dashboard to monitor and anlyze water level meter readings">
    <meta name="twitter:card" content="summary_large_image">

    <title>Water level meter dashboard</title>
    <link href="static/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
      heap.load("64874319");
    </script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78320750-16">
      </script>
      <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-78320750-16');
      </script>
      {% endblock %}
  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-8 col-md-7 py-4">
	      <h4 class="text-white">About</h4>
	      <p class="text-muted">This is an open source project to monitor water depth meter readings streamed to AWS IOT and stored in DynamoDB.</p>
	    </div>
	  </div>
	</div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
	<div class="container">
	  <a href="/" class="navbar-brand d-flex align-items-center">
	    <strong>Water level monitor</strong>
	  </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	</div>
      </div>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer class="text-muted py-5">
      {% block footer %}
      <div class="container">
	<p class="float-end mb-1">
	<a href="#">Back to top</a>
	</p>
	<p class="mb-0">Brought to you by <a href="https://ryanlee.site/" target="_blank">Ryan Lee</a></p>
      </div>
      {% endblock %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>

